* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Edu TAS Beginner", sans-serif;
  background-color: #f5f5dc;
  text-align: center;
  padding: 20px;
}

h1 {
  font-size: 3rem;
  font-family: "Edu TAS Beginner", sans-serif;
  margin-bottom: 20px;
}

.board {
  display: grid;
  gap: 20px;
  justify-content: center;
  padding: 20px;
}
